# Composer
/vendor/

# IDE (JetBrains)
.idea/
*.iml

# OS
.DS_Store
Thumbs.db


# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml